---
import { allPages } from '../../utils'
export async function getStaticPaths() {
  const posts = allPages

  return posts.map((post, id) => {
    const slug = post.frontmatter.slug
    return {
      params: {
        slug: slug === '' ? undefined : slug,
      },
      props: post,
    }
  })
}

const { default: Content, frontmatter, file } = Astro.props
console.info(JSON.stringify(file))
---

<h1>{frontmatter.title}</h1>
<Content />
