---
import path from 'node:path'
import { allPages } from '../../utils'

export async function getStaticPaths() {
  const posts = allPages

  return posts.map((post) => {
    const dirs = path.dirname(post.file).split(path.sep)
    const slug = dirs[dirs.length - 1]

    return {
      params: {
        slug: slug === '' || slug === 'posts' ? undefined : slug,
      },
      props: post,
    }
  })
}

const { default: Content, frontmatter, file } = Astro.props
console.log('====', JSON.stringify(file))
---

<Layout
  kind="article"
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
>
  <h1>{frontmatter.title}</h1>
  <div class="prose lg:prose-xl prose-hackerman prose-headings:font-serif">
    <Content />
  </div>
</Layout>
