---
import path from 'node:path'
import { allPages } from '../../utils'

export async function getStaticPaths() {
  const posts = allPages

  return posts.map((post) => {
    const dirs = path.dirname(post.file).split(path.sep)
    const slug = dirs[dirs.length - 1]

    return {
      params: {
        slug: slug === '' || slug === 'posts' ? undefined : slug,
      },
      props: post,
    }
  })
}

const { default: Content, frontmatter, file } = Astro.props
console.info(JSON.stringify(file))
---

<h1>{frontmatter.title}</h1>
<Content />
