---
import Layout from '../../layouts/Layout.astro'
import { getAllPosts } from '../../lib/posts'

export async function getStaticPaths() {
  return getAllPosts().then((allPosts) => {
    return allPosts.map((entry) => {
      return {
        params: {
          slug: entry.slug,
        },
        props: { entry },
      }
    })
  })
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout
  kind="article"
  title={entry.data.title}
  description={entry.data.description}
  image={entry.data.cover}
>
  <h1 class="text-4xl max-w-prose">{entry.data.title}</h1>
  <div
    class="prose prose-hackerman prose-a:transition-colors prose-a:rounded-sm prose-a:ease-in prose-a:duration-200 hover:prose-a:bg-pink-200"
  >
    <Content />
  </div>
</Layout>
