---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('blog')

  return allBlogPosts.map((post) => {
    const slug = post.slug ?? ''
    return {
      params: {
        slug,
      },
      props: { entry: post },
    }
  })
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout
  kind="article"
  title={entry.data.title}
  description={entry.data.description}
  image={entry.data.cover}
>
  <h1 class="text-4xl max-w-prose">{entry.data.title}</h1>
  <div
    class="prose prose-hackerman prose-a:no-underline prose-a:transition-colors prose-a:rounded-sm prose-a:ease-in prose-a:duration-200 hover:prose-a:bg-pink-100"
  >
    <Content />
  </div>
</Layout>
