---
import { getCollection } from 'astro:content'

import Layout from '../../layouts/Layout.astro'
import PostSummary from '../../components/PostSummary.astro'

const allBlogPosts = await getCollection('blog')
---

<Layout title="Kevin De Baerdemaeker | Homepage" description="">
  <h1 class="text-4xl">All Posts</h1>
  {
    allBlogPosts.map((post) => (
      <PostSummary
        title={post.data.title}
        created={post.data.created}
        slug={post.slug}
      />
    ))
  }
</Layout>
