---
import Layout from '../../layouts/Layout.astro'
import PostList from '../../components/PostList.astro'
import { getAllPosts } from '../../lib/posts'

const allBlogPosts = await getAllPosts()
---

<Layout title="Kevin De Baerdemaeker | Homepage" description="">
  <h1 class="text-4xl">All Posts</h1>
  <PostList posts={allBlogPosts} />
</Layout>
