---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Kevin De Baerdemaeker"
  description="My name is Kevin De Baerdemaeker, I'm a freelance web developer based in Helsinki, Finland."
>
  <h1>Kevin De Baerdemaeker</h1>
  <p>
    I'm a <span class="font-bold">freelance web developer</span>, gamer, and an
    aspiring game developer; based in <a
      href="https://www.openstreetmap.org/node/25474663#map=16/60.1718/24.9413"
    >
      Helsinki, Finland</a
    >. I'm a 90s kid and lived most of my life in Belgium. I studied
    electronics, and worked as a service technician, before realizing
    programming is too much fun. So, I have been working as a frontend web
    developer ever since.
  </p>

  <p>
    I've developed websites and web applications for
    <a href="https://freebility.be">Freebility</a>,
    <a href="https://famoco.com">Famoco</a> and
    <a href="https://epicgames.com">Epic Games</a>. In 2020
    <span class="italic">amazing timing</span>, I decided to become
    <span class="font-bold">self-employed</span>, and currently work as a
    consultant for <a href="https://equinor.com">Equinor</a>.
  </p>

  <p>
    For business inquiries, you can contact me via my
    <a href="mailto:hello@babo.digital">business email</a>.
  </p>
</Layout>
