---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Kevin De Baerdemaeker" description="">
  <h1>Kevin De Baerdemaeker</h1>
  <p>
    Full list at my <a href="/posts" rel="prefetch">my blog</a>.
  </p>
</Layout>
