---
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'
import PostSummary from '../components/PostSummary.astro'
import Link from '../components/Link.astro'

const allBlogPosts = await getCollection('blog')
const latestPosts = allBlogPosts.slice(0, 5)
---

<Layout title="Kevin De Baerdemaeker | Homepage" description="">
  <h2 class="text-2xl">Work</h2>
  <p>
    Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor, at
    auctor urna nunc id cursus metus aliquam eleifend mi in nulla. Sed sed risus
    pretium quam vulputate dignissim suspendisse? Urna nunc id cursus metus
    aliquam eleifend mi in nulla posuere sollicitudin? Pulvinar neque laoreet
    suspendisse interdum consectetur libero, id faucibus nisl tincidunt eget
    nullam non nisi est, sit amet!
  </p>
  <h2 class="text-2xl">Latest Posts</h2>
  {
    latestPosts.map((post) => (
      <PostSummary
        title={post.data.title}
        created={post.data.created}
        slug={post.slug}
      />
    ))
  }
  <p>
    Not enough? Full list <Link href="/posts" rel="prefetch">here</Link>.
  </p>
</Layout>
