---
import Layout from '../layouts/Layout.astro'
import PostList from '../components/PostList.astro'
import Link from '../components/Link.astro'
import { getAllPosts } from '../lib/posts'

const latestPosts = await getAllPosts().then((allPosts) => allPosts.slice(0, 5))
---

<Layout
  title="Kevin De Baerdemaeker | Homepage"
  description="Humble full-stack web developer delivering solutions for clients in a wide variety of technologies. This is my personal blog, I ramble about the things I'm learning."
>
  <p>
    I write about web technologies, and graphics programming. My goal with
    writing is to <em>educate myself</em>, while keeping the learning as
    entertaining.
  </p>
  <h2 class="text-2xl">Interests</h2>
  <p>
    I've been delivering projects for multiple clients, in a wide variety of
    technologies, but the stack I'm most comfortable with is Typescript,
    Next.js, Node.js and PostreSQL (with Prisma).
  </p>
  <p>
    Purely for shits and giggles, I'm exploring the creative possibilities of
    coding using WebGL and OpenGL (C/C++). <em>But!</em> It's not easy! There's
    a lot of math and computer science-y concepts and I never seem to <em
      >get'em</em
    >. I read that writing helps with understand, so... <em>Welcome! Hi!</em>
  </p>
  <p>
    Also, people seem to love Rust and Golang. I need to hop on deez before it's
    too late!
  </p>

  <h2 class="text-2xl">Latest Posts</h2>
  <PostList posts={latestPosts} />
  <p>
    Not enough? Checkout <Link href="/posts" rel="prefetch">all my posts</Link>.
  </p>
</Layout>
