---
import { Image } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import heroImage from '../assets/helsinki.jpg'
---

<Layout title="Home Page">
  <h1 class="font-serif">
    <p>My page content, wrapped in a layout!</p>
    <p><strong>Bold Text</strong></p>
    <p><em>Italic Text</em></p>
    <p><code class="font-mono">code</code></p>
    <Image src={heroImage} alt="descriptive text" width={300} />
  </h1>
</Layout>
