---
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'
import { Icon } from 'astro-icon'

import bioImage from '../assets/pixel-art-kevin-db.webp'
import Link from './Link.astro'
const { showProfile = true } = Astro.props
const {
  data: { socials },
} = await getEntry('authors', 'kevin')
---

<footer>
  <div class="bg-purple-100 border-y-2 border-pink-200 my-4 py-8">
    <div class="container w-full mx-auto px-8 max-w-4xl flex flex-col gap-2">
      {
        showProfile && (
          <div class="flex gap-4">
            <Image
              class="mt-2 h-16 w-16 transition duration-300 ease-in-out hover:scale-125"
              src={bioImage}
              alt=""
              width={320}
            />
            <div>
              <p>
                The name is Kevin, and I'm a freelance software developer and
                consultant. My thoughts can be all over the place, but they're
                usually related to code. I read that writing helps with learning
                and makes concepts stick. So, expect a lot of unfinished
                ramblings.
              </p>
              <p>
                For future messy thoughts, considering adding my
                {/* prettier-ignore */}
                <Link href="/sitemap-index.xml" class="hover:bg-pink-200">feed</Link>
                to your RSS reader. I don't really have social media, but you
                can contact me via:
              </p>
            </div>
          </div>
        )
      }

      <div class="flex gap-8 self-center">
        <a
          href={socials.github}
          class="group inline-flex items-center gap-2 cursor-pointer hover:text-pink-700"
        >
          <Icon
            name="carbon:logo-github"
            class="group-hover:animate-pulse text-current h-8 w-8"
          />
           GitHub
        </a>

        <a
          href={socials.email}
          class="group inline-flex items-center gap-2 cursor-pointer hover:text-pink-700"
        >
          <Icon
            name="carbon:email"
            class="group-hover:animate-pulse text-current h-8 w-8"
          />
           Email
        </a>

        <a
          href={socials.linkedin}
          class="group inline-flex items-center gap-2 cursor-pointer hover:text-pink-700"
        >
          <Icon
            name="carbon:logo-linkedin"
            class="group-hover:animate-pulse text-current h-8 w-8"
          />
           LinkedIn
        </a>
      </div>
    </div>
  </div>

  <div
    class="container w-full mx-auto px-8 max-w-4xl m-2 pb-2 bg-purple-50 text-sm text-center text-zinc-600 md:flex md:flex-col"
  >
    <small
      >© 2023 Kevin De Baerdemaeaker, licensed under
      <Link
        href="https://creativecommons.org/licenses/by-nc/4.0/"
        rel="noreferrer noopener"
        target="_deez_nuts"
        class="font-bold text-zinc-600 hover:bg-pink-200"
      >
        Creative Commons BY-NC 4.0
      </Link>.
    </small>
    <small class="-mt-1">
      All opinions here are my own, and don't represent what my clients think
      now or in the future.
    </small>
  </div>
</footer>
