<section>
  <h3>Search</h3>
  <iframe class="search-box" src="https://duckduckgo.com/search.html?site=venikx.com&prefill=search"></iframe>
</section>
<section>
  <h3>Meta</h3>
  <ul>
    <li><a href="rss.xml">RSS feed</a></li>
    <li><a href="https://github.com/venikx/venikx.com">View source code</a></li>
  </ul>
</section>
<section>
  <h3>About</h3>
  <ul>
    <li>Author: <a href="https://kevinrangel.com">Kevin Rangel</a></li>
    <li>Twitter: <a href="https://twitter.com/veniks">@_venikx</a></li>
  </ul>
</section>
