<!-- http://www.textfiles.com/underconstruction/ -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin Rangel | $title$</title>
    <link rel="stylesheet" href="/css/normalize.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" media="all">
    <link rel="stylesheet" href="/css/default.css" media="screen">
  </head>
  <body>
    <img src="images/construction.gif" alt="A GeoCities 'Under Construction' gif">
  </body>
</html>

        <!-- <ul>
             <li>
             <a href="mailto:me@venikx.com" class="email" aria-label="Email me!">
             <i class="fa fa-envelope" />
             </a>
             </li>
             <li>
             <a href="https://twitter.com/_venikx" class="twitter" aria-label="Navigate to Twitter">
             <i class="fab fa-twitter" />
             </a>
             </li>
             <li>
             <a href="https://github.com/venikx" class="github" aria-label="Navigate to GitHub's profile">
             <i class="fab fa-github" />
             </a>
             </li>
             <li>
             <a href="https://gitlab.com/venikx" class="gitlab" aria-label="Navigate to Gitlab's profile">
             <i class="fab fa-gitlab" />
             </a>
             </li>
             <li>
             <a href="https://twitch.tv/venikx_" class="twitch" aria-label="Navigate to the Twitch stream">
             <i class="fab fa-twitch"></i>
             </a>
             </li>
             </ul> -->
