<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin Rangel | $title$</title>
    <link rel="stylesheet" href="/css/normalize.css" media="all">
    <link rel="stylesheet" href="/css/default.css" media="screen">
  </head>
  <body>
    <header>
      <img src="/images/haskell-logo.png" style="float: right; margin: 10px;" />
      <h1><a href="/">venikx</a></h1>

      <nav>
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>

    <!-- <main>
         $body$
         </main>
    -->
    <footer>
      <p><a href="https://gitlab.com/venikx/venikx.com">Source Code</a></p>
    </footer>
  </body>
</html>
