@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: 'Iosevka', monospace;
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'IBM Plex Serif', serif;
}

@utility prose-hackerman {
  --tw-prose-body: var(--color-zinc-900);
  --tw-prose-headings: var(--color-zinc-900);
  --tw-prose-links: var(--color-pink-700);
  --tw-prose-bold: var(--color-pink-700);
  --tw-prose-quotes: var(--color-pink-700);
  --tw-prose-quote-borders: var(--color-pink-700);
  --tw-prose-code: var(--color-pink-700);
  --tw-prose-pre-code: var(--color-zinc-950);
  --tw-prose-pre-bg: var(--color-purple-100);
}

@layer base {
  html {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
    @apply font-bold;
    @apply mt-10;
    @apply mb-4;
  }

  p {
    @apply mb-[1.25em];
  }

  .prose {
    @apply !max-w-full;
  }

  .prose dt {
    @apply font-bold;
    @apply list-disc;
    @apply inline;
  }

  .prose dd {
    @apply -mt-2;
    @apply pl-2;
  }

  .prose dd:before {
    content: '╰──';
    @apply pr-2;
  }

  .prose ul p {
    margin: 0;
  }

  .prose dl p {
    margin: 0;
    display: inline-block;
  }
}
