---
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
    <!-- your content is injected here -->
  </body>
</html>

<head> </head>
